h1 {
  margin-left: 10px;
}
.cards {
  display: flex;
  flex-wrap: wrap;

  img {
    width: auto;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
  }
}
